<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 关闭页面缓存，生产环境中可以开启 -->
<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="cache-control" content="no-cache"/>
<meta http-equiv="expires" content="0"/>  
<meta http-equiv="content-type" content="txt/html; charset=utf-8" />

<!-- <link id="easyUIThemes" rel="stylesheet" type="text/css" th:href="@{/easyui/themes/material/easyui.css}" /> -->
<link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}" />
<!--字体图标-->
<link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icons/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/menuTree.css}" />


<link rel="stylesheet" type="text/css" th:href="@{/css/screen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>


<!--皮肤-->
<!-- <link id="themeLink" rel="stylesheet" type="text/css" th:href="@{/easyui/themes/bootstrap/easyui.css}" /> -->
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/super.css}" /> -->



<!-- <script src="js/super.js" type="text/javascript" charset="utf-8"></script> -->
<script th:src="@{/js/echarts.js}" th:inline="javascript"></script>

<script th:src="@{/easyui/jquery.min.js}"></script>
<script th:src="@{/easyui/jquery.easyui.min.js}"></script>
<script th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>	
<script th:src="@{/js/jquery.cookie.js}"></script>
<script th:src="@{/js/easyui.extensions.js}"></script>
<script th:src="@{/js/commons.js}" th:inline="javascript"></script>
<script th:src="@{/js/super.js}" th:inline="javascript"></script>

<link id="themeLink" rel="stylesheet" type="text/css" th:href="@{/easyui/themes/bootstrap/easyui.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/banner.css}" />




</head>
	
<body class="easyui-layout">