<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huift.hfq.shop">

    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- <uses-permission android:name="android.permission.FLASHLIGHT" /> -->

    <!-- 图片 -->
    <!--
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    -->


    <!-- 拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 往SDCard写入数据权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 在SDCard中创建与删除文件权限 -->

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 扫一扫权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission
        android:name="com.huift.hfq.shop.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.huift.hfq.shop.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 友盟统计权限配置 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>

    <application
        android:name=".ShopApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/baidu_map_key" />

       <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
       </activity>
       <activity
              android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 我要入驻 -->
        <activity
            android:name=".activity.SettledActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 修改活动类型 -->
        <activity
            android:name=".activity.UpdateCampaignTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 修改活动介绍 -->
        <activity
            android:name=".activity.UpdateCampaignIntroducesActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 修改活动规格 -->
        <activity
            android:name=".activity.UpdateCampaignFreeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 编辑活动 -->
        <activity
            android:name=".activity.EditAcitityContextActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 对活动的验证 -->
        <activity
            android:name=".activity.ActivityVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 编辑基本的所有信息-->
        <activity
            android:name=".activity.EditAcitityMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 预定名单-->
        <activity
            android:name=".activity.PredeterListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 验证码 -->
        <activity
            android:name=".activity.SecurityCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!--活动h5 -->
        <activity
            android:name=".activity.ActThemeDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!--对兑换券和代金券的验证-->
        <activity
            android:name=".activity.CouponVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 活动管理界面 -->
        <activity
            android:name=".activity.ActivityManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 门店信息 -->
        <activity
            android:name=".activity.SettledShopInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 扫码支付完成 -->
        <activity
            android:name="com.huift.hfq.shop.activity.PaymentCompletionActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 修改商家配送方案-->
        <activity
            android:name=".activity.UppDeliveryProgramActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 餐厅设置 -->
        <activity
            android:name=".activity.RestaurantSetActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 扫码支付的确认订单页面 -->
        <activity
            android:name=".activity.ConfirmOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 提交成功 -->
        <activity
            android:name=".activity.SettledCommitSuccActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 提交成功返回到首页 -->
        <activity
            android:name=".activity.SettledCommitHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.ResetPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.BigPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.SysTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 扫一扫 -->
        <activity
            android:name=".activity.ScanActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 店铺详情 -->
        <activity
            android:name=".activity.MyShopDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 店员管理 -->
        <activity
            android:name=".activity.StaffManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 设置店铺的营业时间 -->
        <activity
            android:name=".activity.UpdateShopTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 修改店铺简介 -->
        <activity
            android:name=".activity.UpdateShopDecActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 设置门店 -->
        <activity
            android:name=".activity.StoreSetActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 用户浏览总量 -->
        <activity
            android:name=".activity.UserAccessActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 订单详情 -->
        <activity
            android:name=".activity.MyOrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 首页选择店铺 -->
        <activity
            android:name=".activity.ChooseStoreActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 查看产品大图 -->
        <activity
            android:name=".activity.ProductBigPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 查看商店logo大图 -->
        <activity
            android:name=".activity.BigShopLogoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 查看环境大图 -->
        <activity
            android:name=".activity.EnvironMentBigPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 产品相册页面 -->
        <activity
            android:name=".activity.ProductPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 上传环境图片页面 -->
        <activity
            android:name=".activity.UploadEnvironmentPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 添加产品相册名称页面 -->
        <activity
            android:name=".activity.AddPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 上传照片页面 -->
        <activity
            android:name=".activity.UploadPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 查询子相册名称页面 -->
        <activity
            android:name=".activity.ProductPhotoTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 商家相册 -->
        <activity
            android:name=".activity.MyPhotoAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 扫一扫 主页面 -->
        <activity
            android:name=".activity.ScanMainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 店铺信息页面 -->
        <activity
            android:name=".activity.MyShopInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 店铺装修页面 -->
        <activity
            android:name=".activity.MyShopDecActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!-- 店铺形象页面 -->
        <activity
            android:name=".activity.MyImageShopActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 验证原密码页面 -->
        <activity
            android:name=".activity.OriginalPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 修改密码页面 -->
        <activity
            android:name=".activity.UpdatePwdActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 忘记密码页面 -->
        <activity
            android:name=".activity.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- POS服务页面 -->
        <activity
            android:name=".activity.MyPosServActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 装修店铺的图片页面 -->
        <activity
            android:name=".activity.MyShopPicsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 店员管理页面 -->
        <activity
            android:name=".activity.MyStaffActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 订单管理页面 -->
        <activity
            android:name=".activity.MyOrderManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 门店订单页面 -->
        <activity
            android:name=".activity.MyStoreOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 退款订单详情页面 -->
        <activity
            android:name=".activity.MyRefundOrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 餐前订单详情页面 (待接单) -->
        <activity
            android:name=".activity.MyFastingOrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 餐前订单详情页面 (配送中) -->
        <activity
            android:name=".activity.MyFastingDistributionOrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 对账页面 -->
        <activity
            android:name=".activity.MyBalanceManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 订单管理成功页面 -->
        <activity
            android:name=".activity.MyOrderSugManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 订单管理失败页面 -->
        <activity
            android:name=".activity.MyOrderFailManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 订单管理的餐后支付(配送中) -->
        <activity
            android:name=".activity.MyAfterOrderDetailDistributionActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 订单管理的餐后支付(结算) -->
        <activity
            android:name=".activity.MyAfterOrderDetailSettleActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 添加店员页面 -->
        <activity
            android:name=".activity.AddStaffActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 修改店员页面 -->
        <activity
            android:name=".activity.UppStaffActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 门店列表 -->
        <activity
            android:name=".activity.MyStaffShopListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 店员管理列表 -->
        <activity
            android:name=".activity.MyStaffManagementActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 二维码页面 -->
        <activity
            android:name=".activity.MyTwoCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 二维码结果 -->
        <activity
            android:name=".activity.ScanResultActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 投诉建议页面 -->
        <activity
            android:name=".activity.SysSuggestAcvitity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- POS FAQ页面 -->
        <activity
            android:name=".activity.MyPosFaqActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 关于苞米商家端 -->
        <activity
            android:name=".activity.SysAboutActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 微信公共帐号页面 -->
        <activity
            android:name=".activity.SysWechatActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 会员卡列表页 -->
        <activity
            android:name=".activity.CardListActitivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 会员卡规定设置 -->
        <activity
            android:name=".activity.CardSettingsActitivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- CardDetailActivity 每张会员卡的详细信息 -->
        <activity
            android:name=".activity.CardDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- VipChatActivity 会员卡管理者和会员交流 -->
        <activity
            android:name=".activity.VipChatActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- 优惠券列表 -->
        <activity
            android:name=".activity.CouponListActitivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 优惠券设置 -->
        <activity
            android:name=".activity.CouponSettingActitivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 优惠券使用详情 -->
        <activity
            android:name=".activity.CouponCsmDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 营销活动 主页 -->
        <activity
            android:name=".activity.ActListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 营销活动报名人数 -->
        <activity
            android:name=".activity.ContentEnrollActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 添加红包列表 -->
        <activity
            android:name=".activity.ActAddMoneyActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 红包详情页 -->
        <activity
            android:name=".activity.ActMoneyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 添加营销活动 -->
        <activity
            android:name=".activity.ActAddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 添加营销活动说明 -->
        <activity
            android:name=".activity.ActAddExplainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 添加营销人数限制 -->
        <activity
            android:name=".activity.ActAddPeopleActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 添加营销图片预览 -->
        <activity
            android:name=".activity.ActAddImageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 图片预览 -->
        <activity
            android:name=".activity.AlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 图片预览 -->
        <activity
            android:name=".activity.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.ImageFile"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.ShowAllPhoto"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 添加营销图片预览添加详情 -->
        <activity
            android:name=".activity.ActAddSelectDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 营销活动详情 -->
        <activity
            android:name=".activity.ActContentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 营销活动中图片上传 -->
        <activity
            android:name=".activity.ActAddImageUploadActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 红包领取人数 -->
        <activity
            android:name=".activity.MoneyReceiverActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 对账单首页 -->
        <activity
            android:name=".activity.AccntStatActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 对账单列表主页 -->
        <activity
            android:name=".activity.AccntHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 银行卡对账 -->
        <activity
            android:name=".activity.MyBalanceManagerSusActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 银行卡对账详情 -->
        <activity
            android:name=".activity.MyBalanceDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 优惠券对账 -->
        <activity
            android:name=".activity.AccntCouponActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 优惠券对账 -->
        <activity
            android:name=".activity.AccntMarketActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 获得银行卡刷卡对账的统计列表 -->
        <activity
            android:name=".activity.AccntStatListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 获取某日的银行卡刷卡队长列表详情 -->
        <activity
            android:name=".activity.AccntStatDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 关于页 -->
        <activity
            android:name=".activity.MyHomeAboutActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 推荐用户 -->
        <activity
            android:name=".activity.MyRecommonedActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 关于惠圈 -->
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 优惠券 详细设置 -->
        <activity
            android:name=".activity.CouponSetDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- 优惠券 使用和领取截止 -->
        <activity
            android:name=".activity.CouponSetCsmTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 优惠券 领取的方式 -->
        <activity
            android:name=".activity.CouponSetDrawWayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 优惠券 预览到提交 -->
        <activity
            android:name=".activity.CouponSetPreViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- POS机支付 -->
        <activity
            android:name=".activity.PosPayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- POS机支付 -->
        <activity
            android:name=".activity.SelectPicActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 会员卡积分设置 -->
        <activity
            android:name="com.huift.hfq.shop.activity.CardSetGradeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 第一张会员卡会员卡积分设置 -->
        <activity
            android:name="com.huift.hfq.shop.activity.CardGradeFirstActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- 第二张会员卡会员卡积分设置 -->
        <activity
            android:name="com.huift.hfq.shop.activity.CardGradeSecondActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- 第三张会员卡会员卡积分设置 -->
        <activity
            android:name="com.huift.hfq.shop.activity.CardGradeThirdActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- 会员卡列表设置 -->
        <activity
            android:name="com.huift.hfq.shop.activity.CardGradeListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 会员卡查询 -->
        <activity
            android:name=".activity.CardInfoListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 条形统计图 -->
        <activity android:name="org.achartengine.GraphicalActivity" />
        <!-- 店铺图片显示图片的列表 -->
        <activity
            android:name=".activity.ImgFileListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 店铺的图片 -->
        <activity
            android:name=".activity.ImgsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 设置的图片 -->
        <activity
            android:name=".activity.MyHomeSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 我的消息 -->
        <activity
            android:name=".activity.MassageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 收银台 -->
        <activity
            android:name=".activity.CashierActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 收银台 撤销交易 -->
        <activity
            android:name=".activity.CashierCancelTransActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 收银台 隔日退货交易 -->
        <activity
            android:name=".activity.CashierRefundTransActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 收银台 打印交易 -->
        <activity
            android:name=".activity.CashierPrintTransActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 收银台 查询明细交易 -->
        <activity
            android:name=".activity.CashierQueryTransActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 优惠券详情列表 -->
        <activity
            android:name="com.huift.hfq.shop.activity.CouponDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 收银台 分期付款交易 -->
        <activity
            android:name=".activity.CashierInstallmentTransActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 收银台 操作确认 -->
        <activity
            android:name=".activity.CashierConfirmActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 收银台 处理结果 -->
        <activity
            android:name=".activity.CashierResultActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 收银台 处理结果 -->
        <service android:name="com.huift.hfq.shop.service.UpdateService" >
        </service>
        <!-- 输入金额-->
        <activity
            android:name=".activity.ScanInputAmountActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 机器扫码 -->
        <activity
            android:name=".activity.ScanBarCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 机器打印 -->
        <activity
            android:name=".activity.ScanPrinterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <service android:name="com.huift.hfq.shop.service.PrintBillService"></service>
        <!-- 活动列表 -->
        <activity
            android:name=".activity.CampaignListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 新建活动列表 -->
        <activity
            android:name=".activity.CampaignAddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 活动类型-->
        <activity
            android:name=".activity.CampaignTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 活动介绍-->
        <activity
            android:name=".activity.CampaignIntroducesActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 活动费用-->
        <activity
            android:name=".activity.CampaignFreeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 惠圈账本-->
        <activity
            android:name=".activity.BillHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 惠圈账本的列表-->
        <activity
            android:name=".activity.BillClassActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
         <!-- 惠圈账本的详情-->
        <activity
            android:name=".activity.BillDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 微信分享 -->
        <activity
            android:name="com.huift.hfq.shop.wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <!-- 关于分享 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- JPush推送 -->
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.huift.hfq.shop" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.huift.hfq.shop" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="com.huift.hfq.shop.receiver.MyReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.huift.hfq.shop" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="f25791f60bbb4c5f3676b3fe" />
        <!-- </>值来自开发者平台取得的AppKey -->
        <!-- 扫一扫 工行支付 -->
        <activity
            android:name=".activity.ICBCPayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_key" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Huifuquan" />
         <!-- 短信接收设置-->
        <activity
            android:name=".activity.TextMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 添加短信接收者-->
        <activity
            android:name=".activity.AddTextMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
    </application>

</manifest>