<table class="fp-table table table-striped table-bordered" id="data_table">
    <thead>
    <tr>
        <th>创建时间</th>
        <th>接收人</th>
        <th>标题</th>
        <th>内容</th>
    </tr>
    </thead>
    <tbody>
    <foreach name="dataList" item="item">
        <tr>
            <td>{$item.createTime}</td>
            <td>{$item.realName}</td>
            <td>{$item.title}</td>
            <td>{$item.content}</td>
        </tr>
    </foreach>
    </tbody>
</table>
<include file="Application/Admin/View/Widget/pager.html" />

