<table class="fp-table table table-striped table-bordered table-condensed" id="data_table">
    <thead>
    <tr>
        <th>分类名称</th>
        <th>所属商圈</th>
        <th>状态</th>
        <th>排序</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <foreach name="dataList" item="item">
        <tr>
            <td>{$item.title}</td>
            <td>{$item.name}</td>
            <td> <if condition="$item.state eq 1"><span class="label label-success">启用</span>
                <else/><span class="label label-danger">禁用</span>
            </if></td>
            <td>{$item.sort}</td>
            <td>{$item.readtime}</td>
            <td>
                <a class="btn btn-xs btn-primary" href="/Admin/QNotice/editSort/id/{$item.id}/page/{$pager:page}">编辑</a>
                <a class="btn btn-xs btn-danger" href="/Admin/QNotice/deleteSort/id/{$item.id}/page/{$pager:page}">删除</a>
            </td>
        </tr>
    </foreach>
    </tbody>
</table>
<include file="Application/Admin/View/Widget/pager.html" />
