<!--<div class="col-md-1" style="padding-left: 0;">-->
    <!--<div class="btn-group-vertical" role="group" aria-label="...">-->
        <!--<a href="/Admin/Shop/editBasic?shopCode={$shopInfo.shopCode}" class="btn btn-default btn-sm">基本信息</a>-->
        <!--<a href="#" class="btn btn-default btn-sm">品牌信息</a>-->
        <!--<a href="#" class="btn btn-default btn-sm">商圈信息</a>-->
        <!--<a href="#" class="btn btn-default btn-sm">大店长设置</a>-->
        <!--<a href="#" class="btn btn-default btn-sm">工行信息</a>-->
        <!--<a href="#" class="btn btn-default btn-sm">商户服务</a>-->
        <!--<a href="#" class="btn btn-default btn-sm">餐饮类设置</a>-->
        <!--<a href="#" class="btn btn-default btn-sm">头像设置</a>-->
        <!--<a href="#" class="btn btn-default btn-sm">环境图片</a>-->
        <!--<a href="#" class="btn btn-default btn-sm">奖励设置</a>-->
        <!--<a href="#" class="btn btn-default btn-sm">其他设置</a>-->
    <!--</div>-->
<!--</div>-->