<table class="fp-table table table-striped table-bordered" id="data_table">
      <thead>
        <tr>
       	  <th>员工名</th>
          <th>手机号</th>
          <th>微信号</th>
          <th>用户积分</th>
          <th>等级</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      	<foreach name="dataList" item="item">
        <tr>
          <td>{$item.realName}</td>
          <td>{$item.mobileNbr}</td>
          <td>{$item.wechatId}</td>
          <td>{$item.userPoints}</td>          
          <td><if condition="$item.userLvl eq 1">店长<else />员工</if></td>
          <td><if condition="$item.status eq 1">启用<else />禁用</if></td>
          <td>
           	<a href="/Admin/ShopStaff/editShopStaff/mobileNbr/{$item.mobileNbr/page/{$pager::page}}">编辑</a>
          	<eq name="item.status" value="1">    
           		<a href="/Admin/ShopStaff/changeStatus/staffCode/{$item.staffCode}"  class="td-distant" data-status="0">禁用</a>
          	<else />
          		<a href="/Admin/ShopStaff/changeStatus/staffCode/{$item.staffCode}"  class="td-distant" data-status="1">启用</a>
          	</eq>
          </td>
        </tr>
        </foreach>
      </tbody>
    </table>	
<include file="Application/Admin/View/Widget/pager.html" /> 