<layout name="layout" />
<section class="panel contact" data-section-name="client">
<div class="header-top">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="#"> <img
						src="/Public/img/client/logo.png" /> <span class="logo-title"></span>
					</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<div class="logo-title">
						<ul class="nav navbar-nav">
							<li><a href="#">惠圈 <span class="sr-only">(current)</span></a></li>
						</ul>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">|</a></li>
						<li><a href="/Client/Home/download.html"
							class="link-download">下载 <span class="sr-only">(current)</span></a></li>
						<li><a href="#">|</a></li>
						<li><a href="/Client/Home/contact.html" class="link-contact">联系我们</a></li>
						<li><a href="#">|</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="contact-title">
			<span class="huiquan-client">惠圈</span><br />
			<div class="contact-describe">
			公司名称：杭州新利软件有限公司<br/>
			地址：浙江省杭州市余杭区海创大厦A幢504<br/>
			电话：400-04-95588（周一至周日8:00-20:00）<br/>
			</div>
			<div class="contact-feedback">
			用户支持（bug）反馈，意见反馈，使用app或者网站过程中遇到问题咨询等<br/>
			QQ群：476915804
			</div>
	</div>
</section>