<layout name="layout" />
<section class="panel client" data-section-name="client">
	<div class="header-top">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="#"> <img
						src="/Public/img/client/logo.png" /> <span class="logo-title"></span>
					</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<div class="logo-title">
						<ul class="nav navbar-nav">
							<li><a href="#">惠圈 <span class="sr-only">(current)</span></a></li>
						</ul>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">|</a></li>
						<li><a href="/Client/Home/download.html"
							class="link-download">下载 <span class="sr-only">(current)</span></a></li>
						<li><a href="#">|</a></li>
						<li><a href="/Client/Home/contact.html" class="link-contact">联系我们</a></li>
						<li><a href="#">|</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="huiquan-client">
		<div class="huiquan-title">
			<div class="client">
				<span class="huiquan-client">惠圈-客户端</span><br />
				<div class="huiquan-describe">实时定位，尊享周边优惠，重重好礼，开通并使用工行惠支付，方便更安全，优质商户使得消费者省钱更省心</div>
			</div>
		</div>
		<div class="model-machine">
			<img src="/Public/img/client/model-client.png" class="model-client" />
		</div>
		<div class="download-client">
			<div class="qr-client">
				<img src="/Public/img/client/client-code.png" />
			</div>
			<div class="android-download">
				<a class="btn" href="{$cDownloadUrl}" role="button">安卓</a>
			</div>
			<div class="ios-download">
				<a class="btn" href="https://itunes.apple.com/cn/app/id1027791544?l=cn&mt=8" role="button">ios</a>
			</div>
		</div>
	</div>
	<div class="go-down">
		<a class="btn slideDown" href="/Client/Home/download.html#shop" role="button"><img
			src="/Public/img/client/down.png" /></a>
	</div>
	<div class="round-dot-client">
		<div class="choose-round">
			<a href="#" class="round">●</a>
		</div>
		<div class="no-choose-round">
			<a href="#" class="round">●</a>
		</div>
	</div>
</section>
<section class="panel shop" data-section-name="shop">
	<div class="header-top">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="#"> <img
						src="/Public/img/client/logo.png" /> <span class="logo-title"></span>
					</a>
				</div>
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<div class="logo-title">
						<ul class="nav navbar-nav">
							<li><a href="#">惠圈 <span class="sr-only">(current)</span></a></li>
						</ul>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">|</a></li>
						<li><a href="/Client/Home/download.html"
							class="link-download">下载 <span class="sr-only">(current)</span></a></li>
						<li><a href="#">|</a></li>
						<li><a href="/Client/Home/contact.html" class="link-contact">联系我们</a></li>
						<li><a href="#">|</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
	<div class="huiquan-shop">
		<div class="huiquan-title shop">
			<div class="shop">
				<span class="huiquan-client">惠圈管家-商家端</span><br />
				<div class="huiquan-describe">商家可以随时随地在手机上实现对店铺的经营管理，营销活动设置，实现店铺的外卖与在线订餐功能，还可以进行行业分析CRM会员管理订单查询，销售数据分析等</div>
			</div>
		</div>
		<div class="model-machine">
			<img src="/Public/img/client/model-shop.png" class="model-shop" />
		</div>
		<div class="download-shop">
			<div class="qr-client">
				<img src="/Public/img/client/shop-code.png" />
			</div>
			<div class="android-download">
				<a class="btn" href="{$sDownloadUrl}" role="button">安卓</a>
			</div>
			<div class="ios-download">
				<a class="btn" href="https://appsto.re/cn/FSTq9.i" role="button">ios</a>
			</div>
		</div>
	</div>
	<div class="round-dot-shop">
		<div class="choose-round">
			<a href="#" class="round">●</a>
		</div>
		<div class="no-choose-round">
			<a href="#" class="round">●</a>
		</div>
	</div>
</section>