<layout name="layout_admin" />
<div class="row">
<div class="col-md-11">
<form id="template_form" action="/Admin/District/editCityModule" method="post" class="form-horizontal">
<input type="hidden" name="relId" value="{$dataInfo.relId}" />
<div class="form-group">
<label class="col-sm-2 control-label">显示模板 (原模板：{$dataInfo.template})</label>
<div class="col-sm-10">
<if condition="$subModuleCount eq 1">
<label class="radio-inline">
    <input type="radio" name="template" value="101" checked="checked">
    <div class="show_template">
        <table>
            <tr>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <p>101</p>
    </div>
</label>
<elseif condition="$subModuleCount eq 2" />
<label class="radio-inline">
    <input type="radio" name="template" value="201" <neq name="dataInfo.template" value="202">checked="checked"</neq>>
    <div class="show_template">
        <table>
            <tr>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <p>201</p>
    </div>
</label>
<label class="radio-inline">
    <input type="radio" name="template" value="202" <eq name="dataInfo.template" value="202">checked="checked"</eq>>
    <div class="show_template">
        <table>
            <tr>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <p>202</p>
    </div>
</label>
<elseif condition="$subModuleCount eq 3" />
<label class="radio-inline">
    <input type="radio" name="template" value="301" <if condition="($dataInfo.template neq 302) AND ($dataInfo.template neq 303) AND ($dataInfo.template neq 304)">checked="checked"</if>>
    <div class="show_template">
        <table>
            <tr>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[2].imgUrl}" style="width: {$subModuleList[2].imgWidth};height: {$subModuleList[2].imgHeight};">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <p>301</p>
    </div>
</label>
<label class="radio-inline">
    <input type="radio" name="template" value="302" <eq name="dataInfo.template" value="302">checked="checked"</eq>>
    <div class="show_template">
        <table>
            <tr>
                <td rowspan="2">
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[2].imgUrl}" style="width: {$subModuleList[2].imgWidth};height: {$subModuleList[2].imgHeight};">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <p>302</p>
    </div>
</label>
<label class="radio-inline">
    <input type="radio" name="template" value="303" <eq name="dataInfo.template" value="303">checked="checked"</eq>>
    <div class="show_template">
        <table>
            <tr>
                <td colspan="2">
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[2].imgUrl}" style="width: {$subModuleList[2].imgWidth};height: {$subModuleList[2].imgHeight};">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <p>303</p>
    </div>
</label>
<label class="radio-inline">
    <input type="radio" name="template" value="304" <eq name="dataInfo.template" value="304">checked="checked"</eq>>
    <div class="show_template">
        <table>
            <tr>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
                        </div>
                    </div>
                </td>
                <td rowspan="2">
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[2].imgUrl}" style="width: {$subModuleList[2].imgWidth};height: {$subModuleList[2].imgHeight};">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <p>304</p>
    </div>
</label>
<elseif condition="$subModuleCount eq 4" />
<label class="radio-inline">
    <input type="radio" name="template" value="401" checked="checked">
    <div class="show_template">
        <table>
            <tr>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[2].imgUrl}" style="width: {$subModuleList[2].imgWidth};height: {$subModuleList[2].imgHeight};">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="sub_module">
                        <div class="one_sm">
                            <img src="{$subModuleList[3].imgUrl}" style="width: {$subModuleList[3].imgWidth};height: {$subModuleList[3].imgHeight};">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <p>401</p>
    </div>
</label>
<elseif condition="$subModuleCount eq 5" />
<label class="radio-inline">
<input type="radio" name="template" value="501" <if condition="($dataInfo.template neq 502) AND ($dataInfo.template neq 503) AND ($dataInfo.template neq 504) AND ($dataInfo.template neq 505) AND ($dataInfo.template neq 506) AND ($dataInfo.template neq 507)">checked="checked"</if>>
<div class="show_template">
<table>
<tr>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
            </div>
        </div>
    </td>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[2].imgUrl}" style="width: {$subModuleList[2].imgWidth};height: {$subModuleList[2].imgHeight};">
            </div>
        </div>
    </td>
    <td rowspan="2">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[4].imgUrl}" style="width: {$subModuleList[4].imgWidth};height: {$subModuleList[4].imgHeight};">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
            </div>
        </div>
    </td>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[3].imgUrl}" style="width: {$subModuleList[3].imgWidth};height: {$subModuleList[3].imgHeight};">
            </div>
        </div>
    </td>
</tr>
</table>
<p>501</p>
</div>
</label>
<label class="radio-inline">
<input type="radio" name="template" value="502" <eq name="dataInfo.template" value="502">checked="checked"</eq>>
<div class="show_template">
<table>
<tr>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
            </div>
        </div>
    </td>
    <td rowspan="2">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[2].imgUrl}" style="width: {$subModuleList[2].imgWidth};height: {$subModuleList[2].imgHeight};">
            </div>
        </div>
    </td>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[3].imgUrl}" style="width: {$subModuleList[3].imgWidth};height: {$subModuleList[3].imgHeight};">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
            </div>
        </div>
    </td>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[4].imgUrl}" style="width: {$subModuleList[4].imgWidth};height: {$subModuleList[4].imgHeight};">
            </div>
        </div>
    </td>
</tr>
</table>
<p>502</p>
</div>
</label>
<label class="radio-inline">
<input type="radio" name="template" value="503" <eq name="dataInfo.template" value="503">checked="checked"</eq>>
<div class="show_template">
<table>
<tr>
    <td rowspan="2">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
            </div>
        </div>
    </td>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
            </div>
        </div>
    </td>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[3].imgUrl}" style="width: {$subModuleList[3].imgWidth};height: {$subModuleList[3].imgHeight};">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[2].imgUrl}" style="width: {$subModuleList[2].imgWidth};height: {$subModuleList[2].imgHeight};">
            </div>
        </div>
    </td>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[4].imgUrl}" style="width: {$subModuleList[4].imgWidth};height: {$subModuleList[4].imgHeight};">
            </div>
        </div>
    </td>
</tr>
</table>
<p>503</p>
</div>
</label>
<label class="radio-inline">
<input type="radio" name="template" value="504" <eq name="dataInfo.template" value="504">checked="checked"</eq>>
<div class="show_template">
<table>
<tr>
    <td colspan="3">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
            </div>
        </div>
    </td>
    <td colspan="3">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[3].imgUrl}" style="width: {$subModuleList[3].imgWidth};height: {$subModuleList[3].imgHeight};">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td colspan="2">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
            </div>
        </div>
    </td>
    <td colspan="2">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[2].imgUrl}" style="width: {$subModuleList[2].imgWidth};height: {$subModuleList[2].imgHeight};">
            </div>
        </div>
    </td>
    <td colspan="2">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[4].imgUrl}" style="width: {$subModuleList[4].imgWidth};height: {$subModuleList[4].imgHeight};">
            </div>
        </div>
    </td>
</tr>
</table>
<p>504</p>
</div>
</label>
<label class="radio-inline">
<input type="radio" name="template" value="505" <eq name="dataInfo.template" value="505">checked="checked"</eq>>
<div class="show_template">
<table>
<tr>
    <td colspan="2">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
            </div>
    </td>
    <td colspan="2">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[2].imgUrl}" style="width: {$subModuleList[2].imgWidth};height: {$subModuleList[2].imgHeight};">
            </div>
        </div>
    </td>
    <td colspan="2">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[3].imgUrl}" style="width: {$subModuleList[3].imgWidth};height: {$subModuleList[3].imgHeight};">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td colspan="3">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
            </div>
        </div>
    </td>
    <td colspan="3">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[4].imgUrl}" style="width: {$subModuleList[4].imgWidth};height: {$subModuleList[4].imgHeight};">
            </div>
        </div>
    </td>
</tr>
</table>
<p>505</p>
</div>
</label>
<label class="radio-inline">
<input type="radio" name="template" value="506" <eq name="dataInfo.template" value="506">checked="checked"</eq>>
<div class="show_template">
<table>
<tr>
    <td rowspan="2">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
            </div>
        </div>
    </td>
    <td rowspan="3">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[3].imgUrl}" style="width: {$subModuleList[3].imgWidth};height: {$subModuleList[3].imgHeight};">
            </div>
        </div>
    </td>
</tr>
<tr></tr>
<tr><td rowspan="2">
    <div class="sub_module">
        <div class="one_sm">
            <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
        </div>
    </div>
</td></tr>
<tr><td rowspan="3">
    <div class="sub_module">
        <div class="one_sm">
            <img src="{$subModuleList[4].imgUrl}" style="width: {$subModuleList[4].imgWidth};height: {$subModuleList[4].imgHeight};">
        </div>
    </div>
</td></tr>
<tr><td rowspan="2">
    <div class="sub_module">
        <div class="one_sm">
            <img src="{$subModuleList[2].imgUrl}" style="width: {$subModuleList[2].imgWidth};height: {$subModuleList[2].imgHeight};">
        </div>
    </div>
</td></tr>
<tr></tr>
</table>
<p>506</p>
</div>
</label>
<label class="radio-inline">
<input type="radio" name="template" value="507" <eq name="dataInfo.template" value="507">checked="checked"</eq>>
<div class="show_template">
<table>
<tr>
    <td rowspan="3">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
            </div>
        </div>
    </td>
    <td rowspan="2">
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[2].imgUrl}" style="width: {$subModuleList[2].imgWidth};height: {$subModuleList[2].imgHeight};">
            </div>
        </div>
    </td>
</tr>
<tr></tr>
<tr><td rowspan="2">
    <div class="sub_module">
        <div class="one_sm">
            <img src="{$subModuleList[3].imgUrl}" style="width: {$subModuleList[3].imgWidth};height: {$subModuleList[3].imgHeight};">
        </div>
    </div>
</td></tr>
<tr><td rowspan="3">
    <div class="sub_module">
        <div class="one_sm">
            <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
        </div>
    </div>
</td></tr>
<tr><td rowspan="2">
    <div class="sub_module">
        <div class="one_sm">
            <img src="{$subModuleList[4].imgUrl}" style="width: {$subModuleList[4].imgWidth};height: {$subModuleList[4].imgHeight};">
        </div>
    </div>
</td></tr>
<tr></tr>
</table>
<p>507</p>
</div>
</label>
<elseif condition="$subModuleCount eq 6" />
<label class="radio-inline">
<input type="radio" name="template" value="601" <neq name="dataInfo.template" value="602">checked="checked"</neq>>
<div class="show_template">
<table>
<tr>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
            </div>
        </div>
    </td>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[3].imgUrl}" style="width: {$subModuleList[3].imgWidth};height: {$subModuleList[3].imgHeight};">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
            </div>
        </div>
    </td>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[4].imgUrl}" style="width: {$subModuleList[4].imgWidth};height: {$subModuleList[4].imgHeight};">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[2].imgUrl}" style="width: {$subModuleList[2].imgWidth};height: {$subModuleList[2].imgHeight};">
            </div>
        </div>
    </td>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[5].imgUrl}" style="width: {$subModuleList[5].imgWidth};height: {$subModuleList[5].imgHeight};">
            </div>
        </div>
    </td>
</tr>
</table>
<p>601</p>
</div>
</label>
<label class="radio-inline">
<input type="radio" name="template" value="602" <eq name="dataInfo.template" value="602">checked="checked"</eq>>
<div class="show_template">
<table>
<tr>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[0].imgUrl}" style="width: {$subModuleList[0].imgWidth};height: {$subModuleList[0].imgHeight};">
            </div>
        </div>
    </td>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[2].imgUrl}" style="width: {$subModuleList[2].imgWidth};height: {$subModuleList[2].imgHeight};">
            </div>
        </div>
    </td>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[4].imgUrl}" style="width: {$subModuleList[4].imgWidth};height: {$subModuleList[4].imgHeight};">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[1].imgUrl}" style="width: {$subModuleList[1].imgWidth};height: {$subModuleList[1].imgHeight};">
            </div>
        </div>
    </td>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[3].imgUrl}" style="width: {$subModuleList[3].imgWidth};height: {$subModuleList[3].imgHeight};">
            </div>
        </div>
    </td>
    <td>
        <div class="sub_module">
            <div class="one_sm">
                <img src="{$subModuleList[5].imgUrl}" style="width: {$subModuleList[5].imgWidth};height: {$subModuleList[5].imgHeight};">
            </div>
        </div>
    </td>
</tr>
</table>
<p>602</p>
</div>
</label>
</if>
</div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</div>
</form>
</div>
</div>
<style>
    .show_template{text-align: center;}
    .show_template table{width: 300px;}
    .show_template table td{border: 1px solid #000;width: 50px;}
    table .sub_module{display: block;}
    table .sub_module .one_sm{width: 100%;position: relative;float: left;height: 100%;display: block;}
</style>
<script type="text/javascript">
    $(function(){
        $('#template_form').on('submit', function() {
            $('button[type="submit"]').attr('disabled', true);
            var frm = $(this);
            $.post(frm.attr('action'), frm.serialize(), function(resp) {
                if (resp.status == sz.STATUS_SUCC) {
                    sz.showSuccMsg(resp.msg, 3);
                    location.href = '/Admin/District/listCityIndexModule?id={$dataInfo.cityId}';
                } else {
                    sz.showErrMsg(resp.msg, 3);
                    $('button[type="submit"]').attr('disabled', false);
                }
            });
            return false;
        });
    });
</script>