<link rel="stylesheet" type="text/css" th:href="@{/css/screen.css}" />
<link id="easyUIThemes" rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}" />

<script th:src="@{/easyui/jquery.min.js}"></script>
<script th:src="@{/easyui/jquery.easyui.min.js}"></script>	    
<script th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>	
<script th:src="@{/js/jquery.cookie.js}"></script>
<script th:src="@{/js/commons.js}"></script>
