/Application/Runtime
/.idea/workspace.xml
/.idea/*
.DS_Store
/.idea/workspace.xml
/Public/phpmyadmin/
upload/*
/Public/Uploads/
/Public/Uploads/*
/phpmyadmin/*
/jpush.log
/Application/Common/Conf/config.php
/Public/js/umeditor/php/upload
/Public/CrashLog/
/Public/CrashLog/*
/Public/App/Pc/
/Public/bankAccountLog/
/Public/bankAccountResultLog/
/Public/export/
/Public/qrcode/
/Public/qrcode/*
/ueditor/*