<table class="fp-table table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th>订单号</th>
        <th>用户手机号</th>
        <th>用户昵称</th>
        <th>预留手机号</th>
        <th>证件号后4位</th>
        <th>卡号</th>
        <th>银行卡状态</th>
        <th>创建时间</th>
        <th>错误</th>
    </tr>
    </thead>
    <tbody>
    <foreach name="dataList" item="item">
        <tr>
            <td>{$item.orderNbr}</td>
            <td>{$item.userMobilNbr}</td>
            <td>{$item.nickName}</td>
            <td>{$item.mobileNbr|substr=0,3}****{$item.mobileNbr|substr=7,4}</td>
            <td>{$item.idNbr}</td>
            <td>{$item.accountNbrPre6}******{$item.accountNbrLast4}(<empty name="item.bankcard">非全卡号<else/>全卡号</empty>)</td>
            <td>
                <switch name="item.status" >
                    <case value="0"><span class="grey">禁用</span></case>
                    <case value="1"><span class="grey">未签订协议</span></case>
                    <case value="2"><span class="green">已签订协议</span></case>
                    <case value="3"><span class="red">已解除协议</span></case>
                    <case value="4"><span class="grey">已取消签订协议</span></case>
                </switch>
            </td>
            <td>{$item.createTime}</td>
            <td>{$item.errMsg}</td>
        </tr>
    </foreach>
    </tbody>
</table>
<include file="Application/Admin/View/Widget/pager.html" />
