<table class="fp-table table table-striped table-bordered" id="data_table">
    <thead>
    <tr>
        <th>用户名</th>
        <th>昵称</th>
        <th>手机号码</th>
        <th>商店名称</th>
        <th>红包名</th>
        <th>红包金额(元)</th>
        <th>领取日期</th>
        <!--<th>红包有效期(天)</th>-->
    </tr>
    </thead>
    <tbody>
    <foreach name="dataList" item="item">
        <tr>
            <td>{$item.realName}</td>
            <td>{$item.nickName}</td>
            <td>{$item.mobileNbr}</td>
            <td>{$item.shopName}</td>
            <td>{$item.bonusName}</td>
            <td>{$item.value}</td>
            <td>{$item.getDate}</td>
            <!--<td>{$item.validityPeriod}</td>-->
        </tr>
    </foreach>
    </tbody>
</table>
<include file="Application/Admin/View/Widget/pager.html" />
