<layout name="layout_admin" />
<div class="container-fluid consume-order-info-wrap">
    <div class="row">
        <div class="col-md-3"><strong>商户号：</strong>{$orderInfo.shopInfo.shopId}</div>
        <div class="col-md-3"><strong>商户：</strong>{$orderInfo.shopInfo.shopName}</div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>消费者昵称：</strong>{$orderInfo.userInfo.nickName}</div>
        <div class="col-md-3"><strong>消费者手机：</strong>{$orderInfo.userInfo.mobileNbr}</div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>订单号：</strong>{$orderInfo.orderNbr}</div>
        <div class="col-md-3"><strong>时间：</strong>{$orderInfo.orderTime}</div>
        <div class="col-md-3">
            <strong>订单类型：</strong>
            <switch name="orderInfo.orderType" >
                <case value="10">
                    其他订单
                </case>
                <case value="20">
                    堂食订单
                </case>
                <case value="21">
                    外卖订单
                </case>
                <case value="30">
                    买券订单
                </case>
                <case value="40">
                    活动订单
                </case>
            </switch>
        </div>
        <div class="col-md-3"><strong>订单消费金额：</strong>{$orderInfo.orderAmount}元</div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>订单状态：</strong>
            <switch name="orderInfo.orderStatus" >
                <case value="0">
                    见支付状态
                </case>
                <case value="20">
                    已下单（{$orderInfo.orderTime}）
                </case>
                <case value="21">
                    已接单（{$orderInfo.receivedTime}）
                </case>
                <case value="22">
                    已派送（{$orderInfo.deliveryTime}）
                </case>
                <case value="23">
                    已送达（{$orderInfo.arrivalTime}）
                </case>
                <case value="24">
                    已撤单（{$orderInfo.cancelTime}）
                </case>
                <case value="25">
                    待下单
                </case>
                <default>
                    未知
                </default>
            </switch>
        </div>
        <div class="col-md-3"><strong>支付状态：</strong>
            <switch name="orderInfo.status" >
                <case value="1">未付款</case>
                <case value="2">付款中</case>
                <case value="3">已付款</case>
                <case value="4">已取消付款</case>
                <case value="5">付款失败</case>
                <case value="6">退款申请中</case>
                <case value="7">退款成功（{$orderInfo.refundTime}）</case>
                <case value="8">部分退款成功</case>
                <default />未知
            </switch>
        </div>
        <if condition="($orderInfo.payType eq 5) OR ($orderInfo.couponType eq 1)">
            <div class="col-md-3">
                <strong>订单是否完成：</strong>
                <span class="order-confirm-text">
                    <eq name="orderInfo.orderConfirm" value="1">完成
                        <else/>
                        未完成
                        <button class="btn btn-xs btn-primary" id="btn-order-confirm" data-key="{$orderInfo.orderCode}">确认完成</button>
                    </eq>
                </span>
            </div>
        </if>
    </div>
    <div class="row"><div class="col-md-12"><hr/></div></div>
    <div class="row">
        <div class="col-md-12">
            <h4><strong>支付记录：（数字单位：元）</strong><if condition="$orderInfo.orderType eq 10 AND $orderInfo.status eq 3 AND $showRefundBtn == true"><button class="btn btn-danger refund-order" data-order-code="{$orderInfo.orderCode}">退款</button></if></h4>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                <tr>
                    <th>消费时间</th>
                    <th>支付时间</th>
                    <th>实缴金额</th>
                    <th>抵扣金额</th>
                    <th>会员卡抵扣金额</th>
                    <th>优惠券抵扣金额</th>
                    <th>使用的优惠券券号</th>
                    <th>平台红包抵扣金额</th>
                    <th>商家红包抵扣金额</th>
                    <th>工行卡折扣抵扣金额</th>
                    <th>首单立减金额</th>
                    <th>付款方式</th>
                    <th>支付状态</th>
                    <th>送的优惠券券号</th>
                </tr>
                </thead>
                <foreach name="userPayList" item="item">
                    <tr>
                        <td>{$item.consumeTime}</td>
                        <td>{$item.payedTime}</td>
                        <td>{$item.realPay}</td>
                        <td>{$item.deduction}</td>
                        <td>
                            <if condition="$item.isCard eq 0">0.00
                                <else/>{$item.cardDeduction}
                            </if>
                        </td>
                        <td>{$item.couponDeduction}</td>
                        <td>
                            <foreach name="item.usedCouponList" item="coupon">
                                <switch name="coupon.couponType">
                                    <case value="1">
                                        <span class="label n-yuan-gou">N元购</span>
                                    </case>
                                    <case value="3">
                                        <span class="label man-jian">抵扣券</span>
                                    </case>
                                    <case value="4">
                                        <span class="label limit-time">折扣券</span>
                                    </case>
                                    <case value="5">
                                        <span class="label shi-wu">实物券</span>
                                    </case>
                                    <case value="6">
                                        <span class="label ti-yan">体验券</span>
                                    </case>
                                    <case value="7">
                                        <span class="label dui-huan">兑换券</span>
                                    </case>
                                    <case value="8">
                                        <span class="label dai-jin">代金券</span>
                                    </case>
                                    <case value="32">
                                        <span class="label label-default">送新用户抵扣券</span>
                                    </case>
                                    <case value="33">
                                        <span class="label label-primary">送邀请人的抵扣券</span>
                                    </case>
                                </switch>
                                {$coupon.userCouponNbr}<br/>
                            </foreach>
                        </td>
                        <td>{$item.platBonus}</td>
                        <td>{$item.shopBonus}</td>
                        <td>{$item.bankCardDeduction}</td>
                        <td>{$item.firstDeduction}</td>
                        <td>
                            <switch name="item.payType" >
                                <case value="1">
                                    在线支付:{$item.accountNbrLast4}
                                </case>
                                <case value="2">
                                    POS机支付
                                </case>
                                <case value="3">
                                    现金支付
                                </case>
                                <case value="4">
                                    未选择支付方式
                                </case>
                                <case value="5">
                                    券支付
                                </case>
                            </switch>
                        </td>
                        <td>
                            <switch name="item.status" >
                                <case value="0"><span class="red">不能支付</span></case>
                                <case value="1"><span class="grey">未付款</span></case>
                                <case value="2"><span class="grey">付款中</span></case>
                                <case value="3"><span class="green">已付款</span></case>
                                <case value="4"><span class="red">已取消付款</span></case>
                                <case value="5"><span class="red">付款失败</span></case>
                                <case value="6"><span class="grey">退款申请中</span></case>
                                <case value="7"><span class="green">退款成功</span></case>
                                <case value="8"><span class="green">部分退款成功</span></case>
                                <default /><span class="grey">未知</span>
                            </switch>
                        </td>
                        <td>
                            <foreach name="item.sendCouponList" item="coupon">
                                <switch name="coupon.couponType">
                                    <case value="1">
                                        <span class="label n-yuan-gou">N元购</span>
                                    </case>
                                    <case value="3">
                                        <span class="label man-jian">抵扣券</span>
                                    </case>
                                    <case value="4">
                                        <span class="label limit-time">折扣券</span>
                                    </case>
                                    <case value="5">
                                        <span class="label shi-wu">实物券</span>
                                    </case>
                                    <case value="6">
                                        <span class="label ti-yan">体验券</span>
                                    </case>
                                    <case value="7">
                                        <span class="label dui-huan">兑换券</span>
                                    </case>
                                    <case value="8">
                                        <span class="label dai-jin">代金券</span>
                                    </case>
                                    <case value="32">
                                        <span class="label label-default">送新用户抵扣券</span>
                                    </case>
                                    <case value="33">
                                        <span class="label label-primary">送邀请人的抵扣券</span>
                                    </case>
                                </switch>
                                {$coupon.userCouponNbr}<br/>
                            </foreach>
                        </td>
                    </tr>
                </foreach>
            </table>
        </div>
    </div>
    <div class="row">
        <switch name="orderInfo.orderType" >
            <case value="10"></case>
            <case value="20|21">
                <div class="col-md-12"><hr/></div>
                <div class="col-md-12"><h4><strong>购买的菜品清单</strong></h4></div>
                <div class="col-md-12">
                    <table class="table table-bordered table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>菜品名称</th>
                            <th>价格（元）</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="orderInfo.goodList" item="item">
                            <tr>
                                <td>{$item.productName}</td>
                                <td>{$item.productUnitPrice}</td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>
            </case>
            <case value="30">
                <div class="col-md-12"><hr/></div>
                <div class="col-md-12"><h4><strong>购买的优惠券清单</strong></h4></div>
                <div class="col-md-12">
                    <table class="table table-bordered table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>优惠券类型</th>
                            <th>用户优惠券码</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="orderInfo.goodList" item="item">
                            <tr>
                                <td>
                                    <switch name="item.couponType">
                                        <case value="1">
                                            <span class="label n-yuan-gou">N元购</span>
                                        </case>
                                        <case value="3">
                                            <span class="label man-jian">抵扣券</span>
                                        </case>
                                        <case value="4">
                                            <span class="label limit-time">折扣券</span>
                                        </case>
                                        <case value="5">
                                            <span class="label shi-wu">实物券</span>
                                        </case>
                                        <case value="6">
                                            <span class="label ti-yan">体验券</span>
                                        </case>
                                        <case value="7">
                                            <span class="label dui-huan">兑换券</span>
                                        </case>
                                        <case value="8">
                                            <span class="label dai-jin">代金券</span>
                                        </case>
                                        <case value="32">
                                            <span class="label label-default">送新用户抵扣券</span>
                                        </case>
                                        <case value="33">
                                            <span class="label label-primary">送邀请人的抵扣券</span>
                                        </case>
                                    </switch>
                                </td>
                                <td>{$item.couponCode}</td>
                                <td>
                                    <switch name="item.status">
                                        <case value="10">
                                            未付款
                                        </case>
                                        <case value="12">
                                            已申请退款
                                        </case>
                                        <case value="11">
                                            已退款
                                        </case>
                                        <case value="30">
                                            已使用，使用时间：{$item.consumeTime}
                                        </case>
                                        <case value="20">
                                            可用
                                        </case>
                                        <default>
                                            未知
                                        </default>
                                    </switch>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>
            </case>
            <case value="40">
                <div class="col-md-12"><hr/></div>
                <div class="col-md-12"><h4><strong>用户活动码列表</strong></h4></div>
                <div class="col-md-12">
                    <table class="table table-bordered table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>用户活动码</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="orderInfo.goodList" item="item">
                            <tr>
                                <td>{$item.actCode}</td>
                                <td>
                                    <switch name="item.status">
                                        <case value="0">
                                            未付款
                                        </case>
                                        <case value="1">
                                            已申请退款
                                        </case>
                                        <case value="2">
                                            已退款
                                        </case>
                                        <case value="3">
                                            已验证
                                        </case>
                                        <case value="4">
                                            未验证
                                        </case>
                                        <default>
                                            未知
                                        </default>
                                    </switch>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>
            </case>
        </switch>
    </div>
    <notempty name="refundLog">
        <div class="row">
            <div class="col-md-12"><hr/></div>
            <div class="col-md-12"><h4><strong>退款记录</strong></h4></div>
            <div class="col-md-12">
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>生成时间</th>
                        <th>退款金额</th>
                        <th>退款时间</th>
                        <th>退款清算状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="refundLog" item="item">
                        <tr>
                            <td>{$item.createTime}</td>
                            <td>{$item.refundPrice}</td>
                            <td>{$item.refundTime}</td>
                            <td>
                                <if condition="$item.liquidationStatus eq 0">未清算
                                    <elseif condition="$item.liquidationStatus eq 1"/>清算中
                                    <elseif condition="$item.liquidationStatus eq 2"/>已清算
                                    <elseif condition="$item.liquidationStatus eq 3"/>无需清算
                                </if>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
        </div>
    </notempty>
</div>
<script>
    $(function(){
        // 修改用户消费的状态
        $('.change-user-consume-status').on('click', function(){
            var consumeCode = $(this).data('consumeCode');
            var status = $(this).data('status');
            $.post(
                    '/Admin/ConsumeOrder/changeUserConsumeStatus',
                    {'consumeCode': consumeCode, 'status': status},
                    function(resp){
                        if(resp.status == sz.STATUS_SUCC) {
                            location.reload();
                        } else {
                            sz.showErrMsg(resp.msg)
                        }
                    }
            );
            return false;
        });

        // 确认完成订单
        $('#btn-order-confirm').on('click', function(){
            var orderCode = $(this).data('key');
            $.post(
                    '/Admin/ConsumeOrder/confirmOrder',
                    {'orderCode': orderCode},
                    function(resp) {
                        if(resp.status == sz.STATUS_SUCC) {
                            $('.order-confirm-text').html('完成');
                        } else {
                            sz.showErrMsg(resp.msg)
                        }
                    }
            );
        });

        //退款
        $('.refund-order').click(function(){
            var obj = $(this);
            obj.attr('disabled', true);
            var orderCode = $(this).data('orderCode');
            $.post(
                    '/Admin/ConsumeOrder/refund',
                    {orderCode: orderCode},
                    function(resp) {
                        if(resp.status == sz.STATUS_SUCC) {
                            sz.showSuccMsg(resp.msg);
                            obj.hide();
                        } else {
                            sz.showErrMsg(resp.msg);
                            obj.attr('disabled', false);
                        }
                    }
            );
        });
    });
</script>