<layout name="layout_admin" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <form class="form-inline" id="export-data">
                <div class="form-group">
                    <label for="reg-date">交易时间</label>
                    <div class="input-group date reg_date">
                        <input type="text" class="form-control ipt-date-time-picker" id="reg-date" name="startTime" value="{$get.startTime}" readonly placeholder="开始时间"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="reg-end-time">至</label>
                    <div class="input-group date reg_date">
                        <input type="text" class="form-control ipt-date-time-picker" name="endTime" value="{$get.endTime}" readonly placeholder="结束时间" id="reg-end-time"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-default" id="export-one">导出地推商户交易额为Excel表</button>
            </form>
        </div>
    </div>
    <div class="row">
    </div>
</div>
<script>
    $(function(){
        $('.reg_date').datetimepicker({
            format: 'yyyy-mm',
            autoclose: true,
            todayBtn: true,
            startView:3,
            minView: 3,
            pickerPosition: "bottom-left"
        });
        //导出地推商户交易额为Excel表
        $('#export-one').on('click', function(){
            var startTime = $('input[name="startTime"]').val();
            var endTime = $('input[name="endTime"]').val();
            if(startTime == '' || endTime == ''){
                alert('请填写时间！');
                return false;
            }else if(startTime != '' && endTime != '' && endTime < startTime){
                alert('结束时间要大于开始时间！');
                return false;
            }
            var frm = $('#export-data');
            var url = '/Admin/PreShop/exportDeal?' + frm.serialize();
            location.href = url;
        });
    });
</script>