<layout name="layout_admin" />
<div>
    <form class="form-inline" id="data_search_form" action="#" method="get">
        <div class="form-group">
            <label class="shop-name">商店名称</label>
            <input type="text" class="form-control" name="shopName" value="{$get.shopName}" id="shop-name" placeholder="商户名称" />
        </div>
        <button type="submit" class="btn btn-primary" id="search_form_submit_btn">查询</button>
        <input type="hidden" id="frm_ele_page" name="page" value="1" />
    </form>
</div>
<div id="data_table_wrapper">
    <include file="./Application/Admin/View/UserCard/listUserCardWidget.html" />
</div>
