<table class="fp-table table table-striped table-bordered" id="data_table">
    <thead>
    <tr>
        <th>用户手机号</th>
        <th>昵称</th>
        <th>商店名称</th>
        <th>是否关注</th>
        <th>会员卡名称</th>
        <th>会员卡等级</th>
        <th>积分</th>
    </tr>
    </thead>
    <tbody>
    <foreach name="dataList" item="item">
            <td>{$item.mobileNbr}</td>
            <td>{$item.nickName}</td>
            <td>{$item.shopName}</td>
            <td><eq name="item.isUserFollowedShop" value="1">已关注<else/>未关注</eq></td>
            <td>
                <switch name="item.cardLvl" >
                    <case value="1"><span class="label label-yin">{$item.cardName}</span></case>
                    <case value="2"><span class="label label-jin">{$item.cardName}</span></case>
                    <case value="3"><span class="label label-baijin">{$item.cardName}</span></case>
                    <default />未知
                </switch>
            </td>
            <td>
                <switch name="item.cardLvl" >
                    <case value="1"><span class="badge badge-yin">{$item.cardLvl}</span></case>
                    <case value="2"><span class="badge badge-jin">{$item.cardLvl}</span></case>
                    <case value="3"><span class="badge badge-baijin">{$item.cardLvl}</span></case>
                    <default />未知
                </switch>
            </td>
            <td>{$item.point}</td>
        </tr>
    </foreach>
    </tbody>
</table>
<script>
    $(function () {
    //         $(".change-user-card-inweixincard").click(function () {
    //             var userCardCode = $(this).data("userCardCode");
    //             var inWeixinCard   = $(this).data('inWeixinCard');
    //             var BtnUserCardStatus = $(".btn-user-card-inweixincard-"+userCardCode);
    //             BtnUserCardStatus.removeClass('btn-default').removeClass('btn-success').removeClass('btn-danger');
    //             $.get(
    //                 '/Admin/UserCard/inWeixinCard',
    //                 {'userCardCode': userCardCode, 'inWeixinCard': inWeixinCard},
    //                 function(resp){
    //                     if(resp.status == sz.STATUS_SUCC) {
    //                         switch(inWeixinCard){
    //                             case 1:
    //                                 BtnUserCardStatus.children().filter('.status-text').html('已添加');
    //                                 BtnUserCardStatus.addClass('btn-success');
    //                                 break;
    //                             case 2:
    //                                 BtnUserCardStatus.children().filter('.status-text').html('未添加');
    //                                 BtnUserCardStatus.addClass('btn-danger');
    //                                 break;
    //                         }
    //                         // 隐藏下拉框
    //                         BtnUserCardStatus.dropdown('toggle');
    //                     } else {
    //                         sz.showErrMsg(resp.msg)
    //                     }
    //                 }
    //             );
    //             return false;
    //         });
    // });
</script>
<include file="Application/Admin/View/Widget/pager.html" />
