<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APS_FOR_PRODUCTION</key>
	<string>0</string>
	<key>CHANNEL</key>
	<string>app store</string>
	<key>APP_KEY</key>
	<string>f25791f60bbb4c5f3676b3fe</string>
</dict>
</plist>
