<layout name="layout_admin" />
<div class="row">
	<div class="col-md-11">
		<form id="shop_add_form" action="/Admin/BmStaff/editBmStaff" method="post" class="form-horizontal">
			<input type="hidden" name="staffCode" value="{$bmStaffInfo.staffCode}" />
            <div class="form-group">
                <label for="realName" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="realName" placeholder="姓名" name="realName" value="{$bmStaffInfo.realName}">
                </div>
            </div>
            <div class="form-group">
                <label for="mobileNbr" class="col-sm-2 control-label">手机号码</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mobileNbr" name="mobileNbr" value="{$bmStaffInfo.mobileNbr}" placeholder="手机号码">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">性别</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="sex" id="inlineRadio1" value="M" <eq name="bmStaffInfo.sex" value="M">checked="checked"</eq>> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sex" id="inlineRadio2" value="F" <eq name="bmStaffInfo.sex" value="F">checked="checked"</eq>> 女
                    </label>
                </div>
            </div>

            <eq name="user.userLvl" value="1">
                <div class="form-group">
                    <label class="col-sm-2 control-label">角色</label>
                    <div class="col-sm-10">
                        <select name="userLvl" id="userLvl" class="form-control">
                            <foreach name="hqStaffType" item="item">
                                <option value="{$item.value}" <eq name="item.value" value="$bmStaffInfo.userLvl">selected="selected"</eq>>{$item.zh}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">所属平台</label>
                    <div class="col-sm-10">
                        <select name="bank_id" id="" class="form-control">
                            <foreach name="bankList" item="item21">
                                <option value="{$item21.id}" <eq name="item21.id" value="$bmStaffInfo.bank_id">selected="selected"</eq>>{$item21.name}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
            </eq>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" id="password" placeholder="密码" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="cfPassword" class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-10">
                    <input type="password" name="cfPassword" class="form-control" id="cfPassword" placeholder="密码" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
		</form>
	</div>
</div>
<script type="text/javascript">
	$('#shop_add_form').on('submit', function() {
        var frm = $(this);
        $.post(frm.attr('action'), frm.serialize(), function(resp) {
            console.log(resp);
            if (resp.status == sz.STATUS_SUCC) {
                sz.showSuccMsg(resp.msg, 3);
            } else {
                sz.showErrMsg(resp.msg, 3);
            }
        });
        return false;
    });
</script>