<table class="fp-table table table-bordered table-condensed table-hover" id="data_table">
    <thead>
    <tr>
        <th>批次号</th>
        <th>商户名</th>
        <th>类型</th>
        <th>创建时间</th>
        <th>每个用户限领数量</th>
        <th>发放数量</th>
        <th>剩余数量</th>
        <th>已使用数量</th>
        <th>领取时间</th>
        <th>使用时间</th>
        <th>是否可送</th>
        <th>顾客端显示</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <foreach name="dataList" item="item">
        <tr>
            <td>{$item.batchNbr}</td>
            <td><a href="/Admin/Shop/shopInfo?shopCode={$item.shopCode}">{$item.shopName}</a></td>
            <td>
                <switch name="item.couponType">
                    <case value="1">
                        <span class="label n-yuan-gou">N元购</span>
                        <div class="">面值：{$item.insteadPrice}元</div>
                        <div class="">内容：{$item.function|default='空'}</div>
                    </case>
                    <case value="3">
                        <span class="label man-jian">抵扣券</span>
                        <div class="">抵扣：{$item.insteadPrice}元</div>
                    </case>
                    <case value="4">
                        <span class="label limit-time">折扣券</span>
                        <div class="">折扣：{$item.discountPercent}折</div>
                    </case>
                    <case value="5">
                        <span class="label shi-wu">实物券</span>
                        <div class="">内容：{$item.function|default='空'}</div>
                    </case>
                    <case value="6">
                        <span class="label ti-yan">体验券</span>
                        <div class="">内容：{$item.function|default='空'}</div>
                    </case>
                    <case value="7">
                        <span class="label dui-huan">兑换券</span>
                        <div class="">内容：{$item.payPrice}元 {$item.function|default='空'}</div>
                    </case>
                    <case value="8">
                        <span class="label dai-jin">代金券</span>
                        <div class="">内容：￥{$item.payPrice}代{$item.insteadPrice}元{$item.function|default='空'}</div>
                    </case>
                </switch>
            </td>
            <td>{$item.createTime}</td>
            <td><eq name="item.nbrPerPerson" value="0">没有限制<else/>{$item.nbrPerPerson}</eq></td>
            <td><eq name="item.totalVolume" value="-1">无限<else />{$item.totalVolume}</eq></td>
            <td><eq name="item.totalVolume" value="-1">无限<else />{$item.remaining}</eq></td>
            <td>{$item.used}</td>
            <td>
                {$item.startTakingTime|substr=0,10}至<br/>{$item.endTakingTime|substr=0,10}
                <if condition='$nowTime gt strtotime($item["endTakingTime"])'><span class="red">领取结束</span>
                    <elseif condition='$nowTime lt strtotime($item["startTakingTime"])'/><span class="grey">未领取</span>
                    <else /><span class="green">领取中</span>
                </if>
            </td>
            <td>
                <eq name="item.validityPeriod" value="0">
                    <span class="green">没有期限</span>
                    <else/>
                    {$item.startUsingTime|substr=0,10}至<br/>{$item.expireTime|substr=0,10}
                    <if condition='$nowTime gt strtotime($item["expireTime"])'><span class="red">已失效</span>
                        <elseif condition='$nowTime lt strtotime($item["startUsingTime"])'/><span class="grey">未生效</span>
                        <else /><span class="green">使用中</span>
                    </if>
                </eq>
            </td>
            <td>
                <eq name="item.isSend" value="1"><span class="green">是</span><else/><span class="red">否</span></eq>
            </td>
            <td>
                <eq name="item.isAvailable" value="1"><span class="green">显示</span><else/><span class="red">不显示</span></eq>
            </td>
            <td class="data-list-operation-wrap">
                <a class="btn btn-primary btn-xs" href="/Admin/BatchCoupon/editCoupon?batchCouponCode={$item.batchCouponCode}&page={$pager:page}&batchNbr={$get.batchNbr}&shopName={$get.shopName}&couponType={$get.couponType}&isAvailable={$get.isAvailable}&back=Sp">编辑</a>
                <a href="#" class="btn btn-xs btn-danger del-batch-coupon" data-key="{$item.batchCouponCode}" data-pagenum="{$pager:page}">删除</a>
            </td>
        </tr>
    </foreach>
    </tbody>
</table>
<script>
    // 删除优惠券
    ;(function(){
        $('.del-batch-coupon').on('click', function(){
            var ret = confirm('确认删除吗？');
            if(ret) {
                var key = $(this).data('key');
                var pageNum = $(this).data('pagenum');
                $.post('/Admin/BatchCoupon/delBatchCoupon', {'key': key}, function(resp){
                    if(resp.status == sz.STATUS_SUCC) {
                        var searchFrm = $(sz.SEARCH_FORM_ID);
                        $(sz.SEARCH_FORM_ID + ' input[name=page]').val(pageNum);
                        // 提交FORM，更新数据
                        $.get(searchFrm.attr('action'), searchFrm.serialize(), function(resp) {
                            if (resp.status == sz.STATUS_SUCC) {
                                $(sz.DATA_LIST_TABLE_WRAPPER_ID).html(resp.html);
                            } else {
                                sz.showErrMsg(resp.msg);
                            }
                        });
                    } else {
                        sz.showErrMsg(resp.msg);
                    }
                });
            }
        });
    })();
</script>
<include file="Application/Admin/View/Widget/pager.html" />

