<layout name="layout_admin" />
<div class="row">
    <div class="col-md-11">
        <form id="linked_add_form" action="/Admin/District/editCityBrandRel" method="post" class="form-horizontal">
            <input type="hidden" name="cityId" value="{$cityId}" />
            <div class="form-group">
                <label class="col-sm-1 control-label">品牌</label>
                <div class="col-sm-5">
                    <select class="form-control frm-select">
                        <option value="">请选择品牌</option>
                        <foreach name="brandList" item="item">
                            <option value="{$item.brandId}" <eq name="vo.brandId" value="$item.brandId">selected="selected"</eq>>{$item.brandName}</option>
                        </foreach>
                    </select>
                </div>
                <button type="button" class="btn btn-success btn-xs plus add_brand_rel"><div class="glyphicon glyphicon-plus"></div></button>
            </div>
            <div class="form-group"><hr /></div>
            <div class="rel_list">
                <foreach name="cityBrandRelList" item="vo">
                    <div id="brand_{$vo.brandId}">
                        <div class="form-group">
                            <input type="hidden" name="brandId[]" value="{$vo.brandId}" />
                            <div class="col-sm-2 brand-name"><button type="button" class="btn btn-danger btn-xs minus" onclick="removeObj($(this).parent().parent().parent());"><div class="glyphicon glyphicon-minus"></div></button>&nbsp;&nbsp;{$vo.brandName}</div>
                            <label class="col-sm-1 control-label">链接类型</label>
                            <div class="col-sm-5">
                                <label class="radio-inline">
                                    <input type="radio" name="linkType[{$vo.brandId}]" value="0" <if condition="$vo.linkType neq 1 AND $vo.linkType neq 2 AND $vo.linkType neq 3">checked="checked"</if>> H5
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label class="radio-inline">
                                    <input type="radio" name="linkType[{$vo.brandId}]" value="1" <if condition="$vo.linkType eq 1">checked="checked"</if>> 商家列表
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label class="radio-inline">
                                    <input type="radio" name="linkType[{$vo.brandId}]" value="2" <if condition="$vo.linkType eq 2">checked="checked"</if>> 优惠券列表
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label class="radio-inline">
                                    <input type="radio" name="linkType[{$vo.brandId}]" value="3" <if condition="$vo.linkType eq 3">checked="checked"</if>> 工银特惠
                                </label>
                            </div>
                            <div class="col-sm-4 content">
                                <input type="text" class="form-control " placeholder="链接(链接类型为“H5”,则要填写)" name="content[{$vo.brandId}]" value="{$vo.content|default='ActModule/cGetBrandInfo?relId='}" <if condition="$vo.linkType eq 1 OR $vo.linkType eq 2 OR $vo.linkType eq 3">disabled</if>>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">首页显示图</label>
                                <div class="col-sm-4">
                                    <input type="hidden" name="imgUrl{$vo.brandId}" value="{$vo.imgUrl}" />
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail"><img src="{$vo.imgUrl}" style="max-width: 400px; max-height: 200px;" /></div>
                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 400px; max-height: 200px;"></div>
                                        <div>
                                        <span class="btn btn-default btn-file">
                                            <span class="fileinput-new">选择背景图片</span>
                                            <span class="fileinput-exists">换一张</span>
                                            <input type="file" name="upfile" class="ajax-file-upload" data-imgname="imgUrl{$vo.brandId}" data-url="/Admin/Util/imageUp" multiple>
                                        </span>
                                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
                                            <span id="state_imgUrl{$vo.brandId}" class="ajax-file-state"></span>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">图片宽 / 图片高</label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control" name="imgRate[{$vo.brandId}]" value="{$vo.imgRate|default='2'}" />
                                </div>
                                <label class="col-sm-2 control-label">图片宽 / 屏幕宽</label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control" name="screenRate[{$vo.brandId}]" value="{$vo.screenRate|default='0.5'}" />
                                </div>
                            </div>
                            <div class="col-sm-12 ex_button" <if condition="$vo.linkType eq 1 OR $vo.linkType eq 2 OR $vo.linkType eq 3">style="display:none;"</if>>
                            <label class="col-sm-2 control-label">H5背景图</label>
                            <div class="col-sm-10">
                                <input type="hidden" name="bgUrl{$vo.brandId}" value="{$vo.bgUrl}" />
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail"><img src="{$vo.bgUrl}" style="max-width: 400px; max-height: 200px;" /></div>
                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 400px; max-height: 200px;"></div>
                                    <div>
                                        <span class="btn btn-default btn-file">
                                            <span class="fileinput-new">选择背景图片</span>
                                            <span class="fileinput-exists">换一张</span>
                                            <input type="file" name="upfile" class="ajax-file-upload" data-imgname="bgUrl{$vo.brandId}" data-url="/Admin/Util/imageUp" multiple>
                                        </span>
                                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
                                        <span id="state_bgUrl{$vo.brandId}" class="ajax-file-state"></span>
                                    </div>
                                </div>
                            </div>
                            <label class="control-label col-sm-offset-1">内部按钮(没有则不填)&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success btn-xs plus addExButton" brand_id="{$vo.brandId}"><div class="glyphicon glyphicon-plus"></div></button></label>
                            <div class="col-sm-12" style="margin-top: 10px;">
                                <div class="col-sm-3 text-center">链接（例如：hs://getShopInfo?shopCode=***）</div>
                                <div class="col-sm-2 text-center">宽度（例如：25%）</div>
                                <div class="col-sm-2 text-center">高度（例如：25%[固定高度]，auto[自适应]）</div>
                                <div class="col-sm-2 text-center">左边缘（例如：25%）</div>
                                <div class="col-sm-2 text-center">上边缘（例如：25%）</div>
                            </div>
                            <div class="button_list">
                                <foreach name="vo.exButtonList" item="rv">
                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" name="exButtonList[{$vo.brandId}][ebLink][]" value="{$rv.ebLink}" />
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="exButtonList[{$vo.brandId}][ebWidth][]" value="{$rv.ebWidth}" />
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="exButtonList[{$vo.brandId}][ebHeight][]" value="{$rv.ebHeight}" />
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="exButtonList[{$vo.brandId}][ebLeft][]" value="{$rv.ebLeft}" />
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="exButtonList[{$vo.brandId}][ebTop][]" value="{$rv.ebTop}" />
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" class="btn btn-danger btn-xs minus" onclick="removeObj($(this).parent().parent());"><div class="glyphicon glyphicon-minus"></div></button>
                                        </div>
                                    </div>
                                </foreach>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"><hr /></div>
            </div>
            </foreach>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>
    </form>
</div>
</div>
<style>
    .brand-name{font-size: 18px;font-weight: bold;}
</style>
<script src="__PUBLIC__/js/vendor/jquery.ui.widget.js"></script>
<script src="__PUBLIC__/js/jquery.iframe-transport.js"></script>
<script src="__PUBLIC__/js/jquery.fileupload.js"></script>
<script type="text/javascript">
$(function(){
    var brandId = 0;
    var brandName = '';
    $('.frm-select').select2();
    $('#linked_add_form').on('submit', function() {
        $('button[type="submit"]').attr('disabled', true);
        var frm = $(this);
        $.post(frm.attr('action'), frm.serialize(), function(resp) {
            if (resp.status == sz.STATUS_SUCC) {
                sz.showSuccMsg(resp.msg, 3);
                location.href = '/Admin/District/listCityIndexModule?id={$cityId}';
            } else {
                sz.showErrMsg(resp.msg, 3);
                $('button[type="submit"]').attr('disabled', false);
            }
        });
        return false;
    });

    $('.frm-select').change(function(){
        brandId = $(this).find("option:selected").val();
        brandName = $(this).find("option:selected").text();
    });

    $('.add_brand_rel').click(function(){
        if(brandId > 0){
            $('.rel_list').prepend('<div id="brand_'+brandId+'">'+
                    '<div class="form-group">'+
                    '<input type="hidden" name="brandId[]" value="'+brandId+'" />'+
                    '<div class="col-sm-2 brand-name"><button type="button" class="btn btn-danger btn-xs minus" onclick="removeObj($(this).parent().parent().parent());"><div class="glyphicon glyphicon-minus"></div></button>&nbsp;&nbsp;'+brandName+'</div>'+
                    '<label class="col-sm-1 control-label">链接类型</label>'+
                    '<div class="col-sm-5">'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="linkType['+brandId+']" value="0" checked="checked"> H5'+
                    '</label>&nbsp;&nbsp;&nbsp;&nbsp;'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="linkType['+brandId+']" value="1"> 商家列表'+
                    '</label>&nbsp;&nbsp;&nbsp;&nbsp;'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="linkType['+brandId+']" value="2"> 优惠券列表'+
                    '</label>&nbsp;&nbsp;&nbsp;&nbsp;'+
                    '<label class="radio-inline">'+
                    '<input type="radio" name="linkType['+brandId+']" value="3"> 工银特惠'+
                    '</label>'+
                    '</div>'+
                    '<div class="col-sm-4 content">'+
                    '<input type="text" class="form-control " placeholder="链接(链接类型为“H5”,则要填写)" name="content['+brandId+']" value="ActModule/cGetBrandInfo?relId=" />'+
                    '</div>'+
                    '<div class="col-sm-12">'+
                    '<label class="col-sm-2 control-label">首页显示图</label>'+
                    '<div class="col-sm-4">'+
                    '<input type="hidden" name="imgUrl'+brandId+'" />'+
                    '<div class="fileinput fileinput-new" data-provides="fileinput">'+
                    '<div class="fileinput-new thumbnail"><img src="" style="max-width: 400px; max-height: 200px;" /></div>'+
                    '<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 400px; max-height: 200px;"></div>'+
                    '<div>'+
                    '<span class="btn btn-default btn-file">'+
                    '<span class="fileinput-new">选择背景图片</span>'+
                    '<span class="fileinput-exists">换一张</span>'+
                    '<input type="file" name="upfile" class="ajax-file-upload" data-imgname="imgUrl'+brandId+'" data-url="/Admin/Util/imageUp" multiple>'+
                    '</span>'+
                    '<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>'+
                    '<span id="state_imgUrl'+brandId+'" class="ajax-file-state"></span>'+
                    '</div>'+
                    '</div>'+
                    '</div>'+
                    '<label class="col-sm-2 control-label">图片宽 / 图片高</label>'+
                    '<div class="col-sm-1">'+
                    '<input type="text" class="form-control" name="imgRate['+brandId+']" value="2" />'+
                    '</div>'+
                    '<label class="col-sm-2 control-label">图片宽 / 屏幕宽</label>'+
                    '<div class="col-sm-1">'+
                    '<input type="text" class="form-control" name="screenRate['+brandId+']" value="0.5" />'+
                    '</div>'+
                    '</div>'+
                    '<div class="col-sm-12 ex_button">'+
                    '<label class="col-sm-2 control-label">H5背景图</label>'+
                    '<div class="col-sm-10">'+
                    '<input type="hidden" name="bgUrl'+brandId+'" />'+
                    '<div class="fileinput fileinput-new" data-provides="fileinput">'+
                    '<div class="fileinput-new thumbnail"><img src="" style="max-width: 400px; max-height: 200px;" /></div>'+
                    '<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 400px; max-height: 200px;"></div>'+
                    '<div>'+
                    '<span class="btn btn-default btn-file">'+
                    '<span class="fileinput-new">选择背景图片</span>'+
                    '<span class="fileinput-exists">换一张</span>'+
                    '<input type="file" name="upfile" class="ajax-file-upload" data-imgname="bgUrl'+brandId+'" data-url="/Admin/Util/imageUp" multiple>'+
                    '</span>'+
                    '<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>'+
                    '<span id="state_bgUrl'+brandId+'" class="ajax-file-state"></span>'+
                    '</div>'+
                    '</div>'+
                    '</div>'+
                    '<label class="control-label col-sm-offset-1">内部按钮(没有则不填)&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success btn-xs plus addExButton" brand_id="'+brandId+'"><div class="glyphicon glyphicon-plus"></div></button></label>'+
                    '<div class="col-sm-12" style="margin-top: 10px;">'+
                    '<div class="col-sm-3 text-center">链接（例如：hs://getShopInfo?shopCode=***）</div>'+
                    '<div class="col-sm-2 text-center">宽度（例如：25%）</div>'+
                    '<div class="col-sm-2 text-center">高度（例如：25%[固定高度]，auto[自适应]）</div>'+
                    '<div class="col-sm-2 text-center">左边缘（例如：25%）</div>'+
                    '<div class="col-sm-2 text-center">上边缘（例如：25%）</div>'+
                    '</div>'+
                    '<div class="button_list">'+
                    '<div class="col-sm-12">'+
                    '<div class="col-sm-3">'+
                    '<input type="text" class="form-control" name="exButtonList['+brandId+'][ebLink][]" />'+
                    '</div>'+
                    '<div class="col-sm-2">'+
                    '<input type="text" class="form-control" name="exButtonList['+brandId+'][ebWidth][]" />'+
                    '</div>'+
                    '<div class="col-sm-2">'+
                    '<input type="text" class="form-control" name="exButtonList['+brandId+'][ebHeight][]" />'+
                    '</div>'+
                    '<div class="col-sm-2">'+
                    '<input type="text" class="form-control" name="exButtonList['+brandId+'][ebLeft][]" />'+
                    '</div>'+
                    '<div class="col-sm-2">'+
                    '<input type="text" class="form-control" name="exButtonList['+brandId+'][ebTop][]" />'+
                    '</div>'+
                    '<div class="col-sm-1">'+
                    '<button type="button" class="btn btn-danger btn-xs minus" onclick="removeObj($(this).parent().parent());"><div class="glyphicon glyphicon-minus"></div></button>'+
                    '</div>'+
                    '</div>'+
                    '</div>'+
                    '</div>'+
                    '</div>'+
                    '<div class="form-group"><hr /></div>'+
                    '</div>');
            addExButton();
            radioChange();
            ajaxUpload();
        }else{
            alert('请选择品牌！');
        }
    });

    addExButton();
    radioChange();
    ajaxUpload();
});
function radioChange(){
    $('.radio-inline').click(function(){
        var obj = $(this).parent();
        obj.find('input[type="radio"]').change(function(){
            var value = $(this).parent().find('input[type="radio"]:checked').val();
            if(value == 0){
                obj.parent().find('.content').find('input[type="text"]').attr('disabled', false);
                obj.parent().find('.ex_button').show();
            }else{
                obj.parent().find('.content').find('input[type="text"]').attr('disabled', true);
                obj.parent().find('.ex_button').hide();
            }
        });
    });
}

function ajaxUpload(){
    $('.ajax-file-upload').fileupload({
        dataType: 'json',
        add: function (e, data) {
            var imgname = $(this).data('imgname'); // imgname为 activityImg或者activityLogo
            data.context = $('#state_' + imgname).text('正在上传...');
            data.submit();
        },
        /* progressall: function (e, data) {
         var progress = parseInt(data.loaded / data.total * 100, 10);
         $('#progress_img_quare .bar').css('width', progress + '%');
         }, */
        done: function (e, data) {
            var resp = data.result;
            if (resp.state == 'SUCCESS') {
                data.context.text('上传完成');
                var imgname = data.context.attr('id').substr('state_'.length);
                var imgUrl = resp.url.substr(0, 1) == '.' ? resp.url.substr(1) : resp.url; // 去掉"./"中的"."
                $('#linked_add_form input[name=' + imgname + ']').val('/'+ imgUrl);
            } else {
                data.context.text('上传失败');
                $('#linked_add_form input[name=' + imgname + ']').val('');
            }
        }
    });
}

function removeObj(obj){
    obj.remove();
}

function addExButton(){
    $('.addExButton').click(function(){
        var brand_id = $(this).attr('brand_id');
        $('#brand_'+brand_id).find('.button_list').append('<div class="col-sm-12">'+
                '<div class="col-sm-3">'+
                '<input type="text" class="form-control" name="exButtonList['+brand_id+'][ebLink][]" />'+
                '</div>'+
                '<div class="col-sm-2">'+
                '<input type="text" class="form-control" name="exButtonList['+brand_id+'][ebWidth][]" />'+
                '</div>'+
                '<div class="col-sm-2">'+
                '<input type="text" class="form-control" name="exButtonList['+brand_id+'][ebHeight][]" />'+
                '</div>'+
                '<div class="col-sm-2">'+
                '<input type="text" class="form-control" name="exButtonList['+brand_id+'][ebLeft][]" />'+
                '</div>'+
                '<div class="col-sm-2">'+
                '<input type="text" class="form-control" name="exButtonList['+brand_id+'][ebTop][]" />'+
                '</div>'+
                '<div class="col-sm-1">'+
                '<button type="button" class="btn btn-danger btn-xs minus" onclick="removeObj($(this).parent().parent());"><div class="glyphicon glyphicon-minus"></div></button>'+
                '</div>'+
                ' </div>');
    });
}
</script>