<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.integrationsdk.lib"
    android:versionCode="1"
    android:versionName="1.0" >
	
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <application>
<!--         andr_c -->
        <meta-data
            android:name="BDAPPID"
            android:value="6865978" />
        <meta-data
            android:name="BDAPPKEY"
            android:value="qBS2eGhQQZvuR643x8ZBfQ1r" />
<!--         andr_b -->
<!--         <meta-data -->
<!--             android:name="BDAPPID" -->
<!--             android:value="7197733" /> -->
<!--         <meta-data -->
<!--             android:name="BDAPPKEY" -->
<!--             android:value="U5gCqBf3GlmFCtpj9mn9fRTr4Hn9GzHL" /> -->

        <!-- ↓↓↓ 百度移动统计SDK ↓↓↓ -->
        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
 <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
 <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
 <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
 <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
 <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />
 <!-- ↑↑↑ 百度移动统计SDK ↑↑↑ -->
    </application>

</manifest>